<header>
  <nav>
    <a routerLink="/">Home</a>
    <ng-container *ngIf="!(authService.isAuthenticated$ | async)">
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Registrarse</a>
    </ng-container>
    <ng-container *ngIf="(authService.isAuthenticated$ | async) && (authService.isInquilinoOrAnfrition$ | async)">
      <a routerLink="/profile">Perfil de Usuario</a>
    </ng-container>
    <ng-container *ngIf="(authService.isAuthenticated$ | async)">
      <button (click)="logout()">Logout</button>
    </ng-container>
    
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>